Repository decaporg/decap-cms, pull requests merged in 2018-02, with the labels that each got.

#1094 Allow different beginning and ending frontmatter delimiters.
  src/formats/__tests__/frontmatter.spec.js
  src/formats/formats.js
  website/site/content/docs/configuration-options.md
Labels: area: formats, impact: docs, status: 2-code-review

#1103 Fix Collections List Sidebar css
  .all-contributorsrc
  README.md
  src/components/Collection/Sidebar.css
Labels: area: ui/collection, impact: changelog, status: 4-merge

#1123 Support extensions with multiple parts (i.e. `en.md`)
  src/backends/github/implementation.js
  src/backends/test-repo/implementation.js
  src/reducers/collections.js
Labels: area: configuration, area: file-handling, impact: changelog, impact: docs, status: 2-code-review

#987 fix lost unsaved changes when updating status or publishing
  src/components/Editor/Editor.js
Labels: area: publishing, area: ui/editor, status: 2-code-review
