Repository decaporg/decap-cms, pull requests merged in 2018-05, with the labels that each got.

#1212 Docs: Link widget cloud to browser URL.
  website/site/static/widgets.js
Labels: area: docs, status: 4-merge

#1295 Prevent login if Git Gateway is disabled.
  src/backends/git-gateway/API.js
  src/backends/github/API.js
Labels: area: extensions/backends, kind: bug, status: 4-merge

#1359 Enable user-configured commit message templates
  src/actions/mediaLibrary.js
  src/backends/backend.js
  website/site/content/docs/beta-features.md
Labels: area: file-handling, impact: changelog, impact: configuration, impact: docs, status: 2-code-review

#1296 return date object from date/datetime widgets if no format set
  CHANGELOG.md
  src/components/EditorWidgets/Date/DateControl.js
  website/site/content/docs/widgets/date.md
  website/site/content/docs/widgets/datetime.md
Labels: area: extensions/widgets, kind: bug, status: 2-code-review

#1203 Check for title/slug field on config load.
  src/actions/__tests__/config.spec.js
  src/actions/config.js
  src/backends/backend.js
  src/constants/fieldInference.js
  src/reducers/collections.js
Labels: release: 2.0
