Repository decaporg/decap-cms, pull requests merged in 2018-03, with the labels that each got.

#1093 Fix collection failure if entry fails.
  src/backends/github/implementation.js
Labels: area: api, area: error-handling, area: extensions/backends, area: file-handling, kind: bug, kind: discussion, kind: enhancement

#1102 Disable add
  .all-contributorsrc
  README.md
  package-lock.json
  src/components/EditorWidgets/List/ListControl.js
  website/site/content/docs/widgets/list.md
Labels: impact: changelog, impact: configuration, impact: docs, status: 4-merge

#994 Fix thumbs for new uploads to private repos
  src/backends/github/API.js
  src/backends/github/implementation.js
Labels: area: extensions/backends, status: 2-code-review

#1135 Add option to strip Unicode from entry filenames
  package.json
  src/actions/config.js
  src/actions/mediaLibrary.js
  src/backends/backend.js
  src/lib/__tests__/urlHelper.spec.js
  src/lib/urlHelper.js
  website/site/content/docs/configuration-options.md
  yarn.lock
Labels: area: i18n, area: publishing, impact: changelog, impact: configuration, impact: docs, status: 3-docs-review

#1126 Fields default to Blank String
  src/actions/entries.js
  src/components/EditorWidgets/Boolean/BooleanControl.js
  src/components/EditorWidgets/Markdown/MarkdownControl/RawEditor/index.js
  src/components/EditorWidgets/Markdown/MarkdownControl/index.js
  src/components/EditorWidgets/Number/NumberControl.js
  src/components/EditorWidgets/Object/ObjectControl.js
  src/components/EditorWidgets/Relation/RelationControl.js
  src/components/EditorWidgets/Select/SelectControl.js
  src/components/EditorWidgets/String/StringControl.js
  src/components/EditorWidgets/Text/TextControl.js
  src/components/EditorWidgets/withMedia/withMediaControl.js
Labels: area: configuration, area: extensions/widgets, impact: changelog, status: 2-code-review

#1095 Ship source code to NPM
  package.json
  webpack.prod.js
Labels: area: build, status: 2-code-review

#1209 Prevent Git Gateway users with invalid tokens from logging in.
  src/backends/git-gateway/API.js
  src/backends/git-gateway/implementation.js
Labels: area: auth, status: 2-code-review

#1173 auto/manual init w/ single bundle, BYO root element 🎉
  src/bootstrap.js
  src/index.js
  src/init.js
  webpack.dev.js
  webpack.prod.js
  website/site/content/docs/beta-features.md
Labels: area: build, impact: docs, status: 2-code-review
