Repository decaporg/decap-cms, pull requests merged in 2018-04, with the labels that each got.

#1219 949 document hide preview by default
  website/site/content/docs/configuration-options.md
Labels: area: docs, status: 3-docs-review

#1207 Feature Reuest: Append slug: hour, minutes, secounds
  .all-contributorsrc
  CHANGELOG.md
  README.md
  src/backends/backend.js
  website/site/content/docs/configuration-options.md
Labels: area: configuration, area: file-handling, impact: changelog, impact: configuration, impact: docs, status: 3-docs-review

#1146 Feat/configinlink
  example/index.html
  src/actions/config.js
  website/site/content/docs/configuration-options.md
Labels: area: api, area: configuration, impact: changelog, impact: configuration, impact: docs, status: 4-merge

#1237 Don’t try to validate an optional field if it is empty
  .all-contributorsrc
  README.md
  src/components/Editor/EditorControlPane/Widget.js
Labels: area: validation, status: 4-merge
