Repository decaporg/decap-cms, pull requests merged in 2024-04, with the labels that each got.

#5844 Fix: Set correct branch when it's not specified in the config
  packages/decap-cms-backend-bitbucket/src/implementation.ts
  packages/decap-cms-backend-github/src/implementation.tsx
  packages/decap-cms-backend-gitlab/src/__tests__/gitlab.spec.js
  packages/decap-cms-backend-gitlab/src/implementation.ts
  packages/decap-cms-lib-util/src/API.ts
  packages/decap-cms-lib-util/src/__tests__/api.spec.js
  packages/decap-cms-lib-util/src/index.ts
Labels: type: bug

#7177 feat: nested fields and integer values for filter relation widget
  packages/decap-cms-widget-relation/src/RelationControl.js
  packages/decap-cms-widget-relation/src/__tests__/relation.spec.js
  packages/decap-cms-widget-relation/src/schema.js
Labels: area: extensions/widgets/relation

#7181 fix: datetime parsing display value when format not provided
  packages/decap-cms-widget-datetime/src/DateTimeControl.js
Labels: area: extensions/widgets/datetime
